
.Footer1 {
    max-width: 1440;
    height: 308px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  .h6-footer {
    width: 1270px;
    margin: 0 auto;
    text-align: start;
    padding-top: 35px;
  }
  
  h6 {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    color: rgba(38, 38, 38, 1);
    width: 227px;
    height: 42px;
    margin-left: 500px;
  }
  
  .footer-links {
    width: 1270px;
    height: 187px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 77px;
  }
  
  .footer-links > h5 {
    margin-left: 530px;
  }
  .footer-logo {
    width: 226px;
    height: 49px;
  }
  
  .footer-logo img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .Buttons {
    display: flex;
    align-items: center;
    gap: 21px;
    

  }
  
  .Buttons img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(8, 121, 102);
    border-radius: 15px;
  }

  p{
    display: flex;
    margin: o auto;
    width: 413px;
    height: 24px;
    margin-left: 250px;
    font-weight: 700;
    size: 14px;
    line-height: 21px;


  }